* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.h {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background-color: #11009E;
}

.h .nav .navlist {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.h .nav .navlist .listitem .link {
  text-decoration: none;
  color: white;
  font: bold;
}
