* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4942E4;
  height: 40vh;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  animation-name: cardDisplay;
  animation-duration: 2s;
}

img {
  border-radius: 10px;
  height: 30vh;
  width: auto;
  max-width: 30vh;
}

@keyframes cardDisplay{
  from {width: 98%}
  to {width: 100%}

}

.movieInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.movies {
  height: 90%;
  width:50%;
}

.lanContainer {
  display: flex;
  flex-direction: column;
}
